.home , .about_me, .work , .projects {
  min-height: 100vh;
}

.unavailable{
  position: relative;
  visibility: hidden;
}


.Portfilio{
  visibility: visible;
  position: relative;
 }
/* for navbar */
#navbar {
  
  transition-duration: 0.25s;
}

.color-lightgreen {
  color: #67feda;
}
.color-white {
  color: #ffffff;
}
.typewitter {
  font-family: "typewritter";
}
.contents {
  color: #ffffff;
  font-size: 14pt;
  font-family: "typewritter";
}

.resume-btn {
  border-style: solid;
  border-color: #67feda;
}

.resume-btn:hover {
  background-color: #133040;
}
.abt,
#exp,
#works,
#contact {
  color: #ffffff;
}
.abt:hover,
#exp:hover,
#works:hover,
#contact:hover {
  color: #67feda;
}

/* --------------------- */

/* for email */
.email {
  font-family: "typewritter";
  font-size: 12pt;
  color: #7881a0;
  padding-right: 50px;
  writing-mode: vertical-rl; /*writing the text in side ways*/
}
.mail {
  font-family: "typewritter";
  font-size: 12pt;
  color: #7881a0;
}
.mail:hover {
  transition-duration: 0.25s;
  letter-spacing: 0.51px;
  color: #67feda;
}

.p-c {
  padding-right: 12px;
}

/* for vertical line */
.vl {
  border-right: 3px solid #7881a0;
  height: 153px;
}
.hl {
  border-bottom: 3px solid #20314f;
}
/* --------------------- */

/* for social bar */
.social_btn {
  background-color: #7881a0;
  margin-left: 50px;
}

.social_btn:hover {
  background-color: #67feda;
  transform: scale(1.25, 1.25);
  transition-duration: 0.25s;
}
.social_btn:active {
  background-color: rgb(70, 140, 117);
}
/* --------------------- */

/* for home page */
.width_managed {
  max-width: 1000px;
  max-height: 882px;
}
#myname {
  color: #ccd5f5;
  font-size: 38pt;
  font-family: Arial black;
}
#intro {
  color: #8891b0;
  font-size: 35pt;
  font-family: Arial black;
}
#description {
  width: 484px;
  color: #7881a0;
  font-size: 14pt;
  font-family: Arial;
}

/* FOR ABOUT ME PAGE */
.title {
  font-size: 16pt;
}
#abt_description {
  color: #7881a0;
  font-size: 14pt;
  font-family: Arial;
}

.blended-image {
  background-image: url("../images/profile.JPG");
  background-size: 256px 396px;
  background-color: #67feda;
  background-blend-mode: multiply;
  transform: translate(-40px, -40px);
  width: 256px;
  height: 396px;
  border: 1px solid;
  border-spacing: 20px;
  z-index: 2;
  margin: 20px;
}
.shadow-box {
  transform: translateY(20px);
  width: 256px;
  height: 396px;
  border: 1px solid;
  border-color: #67feda;
  border-spacing: 20px;
  z-index: 1;

  margin: 20px;
}

.blended-image:hover {
  transform: translate(-30px, -30px);
  background-color: #ffffff;
  background-blend-mode: multiply;
  transition-duration: 0.25s;
}

/* --------------------- */

/* for work */

.work_P:hover {
  background-color: #8892b0;
}

.work {
  margin-top: 50px;
  margin-left: 150px;
  max-width: 700px;
  margin-right: 150px;
}

.work_place {
  font-size: 13px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: #67feda;
}

.work_role {
  color: #ccd6f6;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.work_period {
  color: #a8b2d1;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 13px;
  margin-bottom: 25px;
}

.work_des {
  color: #8892b0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text",
    "-apple-system", system-ui, sans-serif;
  font-size: 18px;
  line-height: 23.4px;
}

.des_list {
  list-style-type: none;
  font-size: 17px;
}
.des_des::before {
  content: "▹";
  color: #67feda;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.work_description {
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* --------------------- */

/* for Projects*/

.proj_img_BM {
  background-image: url("../images/TSR.png");
  background-size: 609px 396px;
  background-color: #ffffff;
  background-blend-mode: multiply;
  width: 609px;
  height: 396px;
}
.proj_img_Nu {

  background-image: url("../images/nutrition.png");
  background-size: 609px 396px;
  background-color: #ffffff;
  background-blend-mode: multiply;
  float: right;
  width: 609px;
  height: 396px;
}
.proj_img_IIB {
  background-image: url("../images/IIbridges.png");
  background-size: 609px 396px;
  background-color:#ffffff;
  background-blend-mode: multiply;
  width: 609px;
  height: 396px;
}

.proj_img_BM:hover,
.proj_img_Nu:hover,
.proj_img_IIB:hover {
  background-color: #67feda;
  background-blend-mode: multiply;
  transition-duration: 0.25s;
}

.Proj_title {
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  color: #ccd6f6;
}
.Proj_title:hover {
  color: #67feda;
}

.pej_des {

  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 18px;
  color: #a8b2d1;
}
.prj_icon:hover {
  transform: scale(1.2, 1.2);
  color: #67feda;
}

 #TSR, #IIb {
  text-align: right;
 }
 #nut{
  text-align: left;
 }


/* --------------------- */
/* tnx page */
.get_in_touch {
  margin: 0px 0px 10px;
  font-weight: 600;
  font-size: 60px;

  line-height: 66px;
  color: rgb(204, 214, 246);
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text";
}

#tnx_des {
  color: rgb(168, 178, 209);
  font-size: 20px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif
}

/* --------------------- */

/* for responsivness */


/* resposivness */
@media (max-width: 1100px) {



.home  {
  min-height: 50vh;
}

.aboutme, .abt_me {
 
  margin: 100px;
  padding-left: 30px;
  padding-bottom: 150px;
}
  .projects .prj_heading {
 
 
  padding-left: 30px;
 
}

  .work {
    margin-left: 10px;
    max-width: 600px;
    margin-right: 10px;
    padding-bottom: 0%;
  }

  .projects #abt_description {
  transform: scale(0.9,0.9);
  
  }

}

@media (max-width:900px){
  .projects #abt_description {
    transform: scale(0.7,0.7);
    
    
    }

    .projects .prj_heading {
 
 margin-bottom: 0cm;
      padding-left: 20px;
     
    }
}

@media (max-width:734px){
.prj_tech{
  float: left;
}
.prj_contents{
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}

.prj_des{



}
#TSR, #IIb, #nut {
  text-align: left;
  margin: 0px;
 }

 .proj_img_BM {

}
.proj_img_Nu {
  float: right;
 
}
.proj_img_IIB {

}
.projects #abt_description {
  transform: scale(0.85,0.85);
  
  }

}
